.home {
    display: flex;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d;
    background-position: center;
    background-repeat: no-repeat;
    /* no repetir la imagen */
    background-size: cover;
    user-select: none;
    transition: background 300ms ease-in-out;
}

#dark .home {
    background-image: url(/images/background_nite.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

#light .home {
    background-image: url(/images/background_day.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

.home__section {
    display: flex;
    margin-bottom: 150px;
    flex-direction: column;
    align-items: center;
}

.home__img1 {
    height: auto;
    width: 500px;
}

.home__img2 {
    height: 50px;
    width: 50px;
    transition: transform 0.5s ease;
    animation: spin 3.5s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg) translateX(-110px);
    }

    50% {
        transform: rotate(360deg) translateX(110px);
    }

    100% {
        transform: rotate(360deg) translateX(-110px);
    }
}

.home__title {
    font-family: var(--principal-font);
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

#light .home__title {
    color: var(--blue-pokemon);
    text-shadow: 2px 2px 2px black;

}

#dark .home__title {
    color: var(--yellow-pokemon);
    text-shadow: 2px 2px 2px black;

}

.home__p {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}

#light .home__p {
    color: var(--blue-pokemon);
    text-shadow: 2px 2px 2px black;
}

#dark .home__p {
    color: var(--yellow-pokemon);
    text-shadow: 2px 2px 2px black;
}


.home__form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

@media (max-width: 505px) {
    .home__form {
        flex-direction: column;
        align-items: center;
    }

    .home__img1 {
        max-width: 300px;
    }

}

.home__input {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--yellow-pokemon);
    width: 240px;
    border-radius: 16px;
    outline: none;
}

.home__input::placeholder {
    text-align: center;
    font-size: 24px;
}

.home__btn {
    font-family: var(--second-font);
    font-size: 23px;
    width: 160px;
    border-radius: 50px;
    background-color: gray;
    box-shadow: 3px 4px 2px 1px black;
    cursor: pointer;
    transition: color 200ms ease-in-out;
}

.home__btn:hover {
    box-shadow: 1px 1px 2px black;
    background-color: #727272;
    color: var(--yellow-pokemon);
}