#dark .pokedex {
    background-color: rgb(77, 77, 77) ;
}

#light .pokedex {
    background-color: rgb(222, 222, 222) ;
}

.pokedex__title {
    font-size: 24px;
    text-align: center;
    margin-top: 8px;
}

#dark .pokedex__title {
    color: white;
}


@media (min-width:470px) {
    .pokedex__title {
        font-size: 40px;
        text-align: center;
        margin-top: 16px;
    }

}

#light .pokedex__title-red {
    color: var(--blue-pokemon);
    font-weight: 700;
}

#dark .pokedex__title-red {
    color: var(--yellow-pokemon);
    font-weight: 700;
}

.pokedex__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;

}


@media (min-width:470px) {
    .pokedex__form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

.pokedex__form-form {
    height: 40px;
    margin-bottom: 20px;
}

@media (min-width:470px) {
    .pokedex__form-form {
        height: 60px;
        margin-bottom: 0;
    }
}

.pokedex__form-input {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    align-items: center;
    height: 100%;
    outline: none;
}

.pokedex__form-btn {
    background-color: var(--yellow-pokemon);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 10px;
    align-items: center;
    text-align: center;
    height: 100%;
    padding-right: 10px;
    transition: background 300ms ease;
    transition: color 700ms ease;
}

#light .pokedex__form-btn {
    color: var(--yellow-pokemon);
    background-color: var(--blue-pokemon);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 10px;
    align-items: center;
    text-align: center;
    height: 100%;
    padding-right: 10px;
    transition: background 300ms ease;
    transition: color 700ms ease;
}

#light .pokedex__form-btn:hover {
    color: var(--blue-pokemon);
    background-color: var(--yellow-pokemon);
}


#dark .pokedex__form-btn:hover {
    color: var(--yellow-pokemon);
    background-color: var(--blue-pokemon);
}


.pokedex__form-select {}

.pokedex__form-selector {
    border-radius: 15px;
    padding: 10px;
    transition: background 300ms ease;
    transition: color 700ms ease;
    outline: none;
}



#light .pokedex__form-selector:hover {
    color:var(--yellow-pokemon) ;
    background-color: var(--blue-pokemon);
}

#dark .pokedex__form-selector:hover {
    color:var(--blue-pokemon) ;
    background-color: var(--yellow-pokemon);
}

@media (min-width:470px) {
    .pokedex__form-selector {
        border-radius: 15px;
        padding: 10px;
    }
}


.pokedexList {
    display: grid;
    gap: 20px;
    grid-auto-rows: auto;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    margin: 0 auto;
    max-width: 1400px;
    padding: 24px;
}