.pokemon {
    display: flex;
    place-content: center;
    justify-content: center;
    align-items: center
}

#light .pokemon {
    background-color: rgb(222, 222, 222);
}

.pokemon__card {
    display: flex;
    flex-direction: column;
    height:  80vmax;
    gap: 20px;

}

.pokemonInfo {
    padding: 20px;
    border-radius: 15px;
}

.pokemon__body {
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    text-shadow: 1px 1px grey;
}


.pokemon__stats {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    font-size: 16px;
}

@media (min-width:1200px) {
    .pokemon__card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        height: 500px;
        width: 1200px;
        border-radius: 15px;
    }

    .pokemonIfo {
        grid-column: 2;
        grid-row: 1;
        padding: 20px;
        border-radius: 15px;
    }

    .pokemonInfo__img {
        margin-top: 15%;
    }

    .pokemon__body {
        padding: 20px;
        text-align: center;
        border-radius: 15px;
        text-shadow: 1px 1px grey;
    }

    .pokemon__body-1 {
        text-align: right;
    }

    .pokemon__body-1 h2 {
        font-size: 34px;
        font-weight: 700;
    }

    .pokemon__body-2 h5 {
        font-size: 26px;
        font-weight: 700;
        text-align: left;
    }

    .pokemon__body-2 h4 {

        font-size: 24px;
        font-weight: 400;
        text-align: left;
    }

    .pokemon__body-3 h3 {
        font-size: 26px;
        font-weight: 700;
        text-align: left;
    }

    .item {
        font-size: 20px;
        width: 50%;
        border-radius: 20px;
    }

    .pokemon__stats {
        text-align: center;
        padding: 20px;
        border-radius: 15px;
        font-size: 16px;
    }

    .pokemon__stats h2 {
        font-size: 34px;
        font-weight: 700;
        text-align: left;
    }

    .pokemon__stat {
        font-weight: 700;
    }

}



.pokemon__stat-barGray {
    height: 25px;
    background-color: grey;
}

.pokemon__stat-barProgress {
    height: 25px;
    background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
    width: 50%;
}

.border-normal-pokemon {
    border: 2px solid black;
}

.border-fighting-pokemon {
    border: 2px solid black;
}

.border-flying-pokemon {
    border: 2px solid black;
}

.border-poison-pokemon {
    border: 2px solid black;
}

.border-ground-pokemon {
    border: 2px solid black;
}

.border-rock-pokemon {
    border: 2px solid black;
}

.border-bug-pokemon {
    border: 2px solid black;
}

.border-ghost-pokemon {
    border: 2px solid black;
}

.border-steel-pokemon {
    border: 2px solid black;
}

.border-fire-pokemon {
    border: 2px solid black;
}

.border-water-pokemon {
    color: #6FBEDF;
    border: 2px solid #6FBEDF;
}

.border-grass-pokemon {
    border: 2px solid black;
}

.border-electric-pokemon {
    border: 2px solid black;
}

.border-psychic-pokemon {
    border: 2px solid black;
}

.border-ice-pokemon {
    border: 2px solid black;
}

.border-dragon-pokemon {
    border: 2px solid black;
}

.border-dark-pokemon {
    border: 2px solid white;
}

.border-fairy-pokemon {
    border: 2px solid black;
}

.border-unknown-pokemon {
    border: 2px solid black;
}

.border-shadow-pokemon {
    border: 2px solid black;
}

/* background linear gradient */

.bg-lg-normal {
    background: #735259;
}

.bg-lg-fighting {
    background: #96402A;
}

.bg-lg-flying {
    background: #beb14c;
}

.bg-lg-poison {
    background: #5B3184;
}

.bg-lg-ground {
    background: #654008;
}

.bg-lg-rock {
    background: #7E7E7E;
}

.bg-lg-bug {
    background: #E52D2D;
}

.bg-lg-ghost {
    background: #323569;
}

.bg-lg-steel {
    background: #5E736C;
}

.bg-lg-fire {
    background: #F96D6F;
}

.bg-lg-water {
    background: #133258;
}

.bg-lg-grass {
    background: #7EC6C5;
}

.bg-lg-electric {
    background: #0C1395;
}

.bg-lg-psychic {
    background: #af18d8;
}

.bg-lg-ice {
    background: #6FBEDF;
}

.bg-lg-dragon {
    background: #478A93;
}

.bg-lg-dark {
    background: #030706;
    color: white;
}

.bg-lg-fairy {
    background: #971B45;
}

.bg-lg-unknown {
    background: #696767;
}

.bg-lg-shadow {
    background: #6c31a3;
}