@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Play:wght@400;700&family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --principal-font: 'Play', sans-serif;
  --second-font:'Press Start 2P', cursive;
  --third-font:'Mynerve', cursive;
}

body {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: var(--principal-font);
}

*,*::after,*::before {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}